.callback {
  padding: 80px 0 15px;
  background: linear-gradient(
      0deg,
      rgba($main-black, 0.3) 0%,
      rgba($main-black, 0.3) 100%
    ),
    url(../images/h1-bg.jpg);
  min-height: 410px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background: linear-gradient(
        0deg,
        rgba($main-black, 0.3) 0%,
        rgba($main-black, 0.3) 100%
      ),
      url(../images/h1-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.callback__inner {
  padding: 15px 0;
  background: $half-white;
}

.callback__title {
  font-weight: $text-bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.callback__btn {
  margin-top: 100px;
  width: 100%;
  min-height: 56px;

  @media (min-width: 768px) {
    margin: 100px auto;
    display: block;
    width: 300px;
  }
}
